@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/roboto.woff2), url(../fonts/roboto.woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/robotomedium.woff2), url(../fonts/robotomedium.woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/robotobold.woff2), url(../fonts/robotobold.woff);
}


/* Переменные */
:root {

    /* Цвета */
    --main-background-1: #9D8B84;
    --main-background-2: #8996A6; 
    --main-background-3: #849D8F;
    --black-basic: #323232; 
    --black-stroke: rgba(50, 50, 50, 0.3);
    --black-stroke-dark: #353535;
    --black-classic: black;
    --white-basic: #FFFFFF;
    --white-active: #EDEDED;
    --white-popup: #F8F7F4;
    --white-popup-opacity: rgba(248, 247, 244, 0.5) ;
    --white-info: #FEFEFE;
    --white-opacity-20: rgba(255,255,255,0.2);
    --white-opacity-30: rgba(255,255,255,0.3);
    --white-opacity-40: rgba(255,255,255,0.4);
    --white-opacity-80: rgba(255,255,255,0.8);
    --white-select-arrow: #ECF1EE;
    --orange-basic: #D07058;
    --orange-link-dark: rgba(232, 77, 55, 1);
    --orange-link-dark-opacity: rgba(232, 77, 55, 0.3);
    --orange-link-light: rgba(255, 188, 158, 1);
    --orange-link-light-opacity: rgba(255, 188, 158, 0.3);
    --orange-hover: #FBDED7;
    --orange-active: #F6B5A5;
    --gray-stroke: #B2B2B2;
    --gray-basic: #5A5A5A;
    --gray-placeholder: #999999;
    --gray-cart-item-price: #ABABAB;
    --blue-focus: rgba(46,136,228,0.52);
    --raspberry: rgb(162, 24, 61);
    --chocolate: rgb(79, 43, 22);
    --waffel-background: #E5D3AA;

    /* Градиенты */
    --orange-button-basic-gradient: linear-gradient(to bottom, #F26843, #E74A35);
    --orange-button-hover-gradient: linear-gradient(var(--white-opacity-20), var(--white-opacity-20)), linear-gradient(to bottom, #F26843, #E74A35);

    /* Тени */
    --text-basic-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    --button-basic-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    --button-hover-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
    --button-active-shadow: inset 0px 2px 2px 0px #942718;
    --modal-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
    --menu-link-active-shadow: inset 0px 2px 1px 0px #696969;

    
}

/* Скрыто */
.visualy-hidden {
    position: absolute;
    width: 1px;        
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Основные */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    min-width: 1200px;
    background-color: var(--main-background-1);
    color: var(--black-basic);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.index-page-body {
    background-image: url(../img/offer-image-background.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.container {
    margin: 0px auto;
    padding: 0px 27px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.page-body img {
    max-width: 100%;
    height: auto;
}

.page-body ul {
    list-style: none;
}

/* Тёмные ссылки */
.dark-link {
    color: var(--black-basic);
    text-decoration: underline;
    text-decoration-color: var(--black-stroke);
    outline: none;
}

.dark-link:hover, 
.dark-link:focus,
.dark-link:active {
    color: var(--orange-link-dark);
    text-decoration-color: var(--orange-link-dark-opacity);
}


/* Светлые ссылки */
.light-link {
    color: var(--white-basic);
    text-decoration: underline;
    text-decoration-color: var(--white-opacity-30);
    outline: none;
}

.light-link:hover, 
.light-link:focus,
.light-link:active {
    color: var(--orange-link-light);
    text-decoration-color: var(--orange-link-light-opacity);
}

.light-link[href=""],
.light-link[href=""]:hover, 
.light-link[href=""]:focus,
.light-link[href=""]:active {
    text-decoration: none;
    color: var(--white-basic);
    cursor: default;
}


/* Кнопки */
.button {
    display: block;
    border: none;
    color: var(--white-basic);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 70px;
    text-align: center;
    background-image: var(--orange-button-basic-gradient);
    text-shadow: var(--text-basic-shadow);
    box-shadow: var(--button-basic-shadow);
    outline: none;
}

.button:hover,
.button:focus {
    background-image: var(--orange-button-hover-gradient);
    box-shadow: var(--button-hover-shadow);
    
}

.button:active {
    box-shadow: var(--button-active-shadow);
    background-image: var(--orange-button-basic-gradient);
}

/* Поля формы */
.form-input {
    display: block;
    border: 1px solid var(--gray-stroke);
    border-radius: 4px;
    color: var(--black-basic);
    background-color: var(--white-basic);
    font-weight: 700;
    outline: none;
}

.form-textarea {
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--gray-stroke);
    outline: none;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: var(--gray-placeholder);
    font-weight: 400;
}

.form-input:hover,
.form-textarea:hover {
    border-width: 2px;
}

.form-input:focus,
.form-textarea:focus {
    border: 2px solid var(--blue-focus);
}

/* Шапка сайта */

.main-header {
    display: grid;
    grid-template-columns: 1fr 280px;
    padding-top: 9px;
}

.index-page-header {
    margin-bottom: -40px;
}

.inner-page-header {
    margin-bottom: -20px;
}

.main-header-logo {
    display: block;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 11px;
    align-self: center;
}

.main-header-logo-image {
    display: block;
}

.main-navigation {
    display: flex;
}


/* Меню */
.main-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    align-items: flex-start;
}

.main-menu-item {
    margin-right: 9px;
    outline: none;
}

.main-menu-item:last-child {
    margin-right: 0;
}


.menu-item-with-submenu {
    position: relative;
}

.menu-item-with-submenu:focus-within .submenu,
.menu-item-with-submenu:hover .submenu {
    display: block;
}

.main-menu-link {
    display: block;
    line-height: 18px;
    font-weight: 700;
    color: var(--white-basic);
    text-decoration: underline ;
    text-decoration-color: var(--white-opacity-20);
    padding: 6px 13px 8px 13px;
    border-radius: 26px;
    outline: none;
}



.main-menu-link:hover, 
.main-menu-link:focus,
.menu-item-with-submenu:focus-within .main-menu-link,
.menu-item-with-submenu:hover .main-menu-link {
    background-color: var(--white-basic);
    color: var(--black-basic);
    text-decoration: none;
}


.main-menu-link:active {
    color: var(--black-basic);
    text-decoration: none;
    box-shadow: var(--menu-link-active-shadow);
    background-color: var(--white-active);
}

.main-menu-link[href=""] {
    background-color: var(--orange-basic);
    color: var(--white-basic);
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: -8px;
    z-index: 1;
    border-radius: 4px;  
    background-color: var(--white-basic);
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-shadow: var(--modal-shadow);
}

.submenu::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: transparent;

}


.submenu-link {
    display: block;
    min-width: 120px;
    padding: 13px 21px;
    color: var(--black-basic);
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    outline: none;
}

.submenu-item:first-child .submenu-link {
    border-radius: 4px 4px 0px 0px;
}

.submenu-item:last-child .submenu-link {
    border-radius: 0px 0px 4px 4px;
}



.submenu-link:hover,
.submenu-link:focus {
    background-color: var(--orange-hover);
}

.submenu-link:active {
    background-color: var(--orange-active);
}

.submenu-link[href=""] {
    background-color: var(--orange-basic);
    color: var(--white-basic);
}

.submenu-item:first-child {
    box-shadow: 0px 5px 0px -4px var(--black-stroke);
}

.submenu-bolded-item .submenu-link {
    line-height: 18px;
    font-weight: 700;
}

/* Контейнеры кнопок пользователя */
.header-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 270px;
    justify-self: end;
    padding-top: 14px;
}

.user-button-container {
    margin-right: 10px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    outline: none;
}

.user-button-container:nth-child(3n) {
    margin-right: 0;
}

.header-search-container:hover .search-popup,
.header-search-container:focus-within .search-popup {
    display: block;
}


.header-login-container:hover .login-popup,
.header-login-container:focus-within .login-popup {
    display: block;
}

.header-cart-container:hover .cart-popup,
.header-cart-container:focus-within .cart-popup {
    display: flex;
}



/* Кнопки пользователя */
.user-button {
    display: block;
    position: relative;
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: var(--white-opacity-20);
    color: var(--white-basic);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.user-button:hover,
.user-button:focus,
.filled-cart-button,
.user-button-container:hover .user-button,
.user-button-container:focus-within .user-button  {
    color: var(--black-basic);
    background-color: var(--white-basic);
}

.user-search-button {
    padding: 0;
    font-size: 0;
    line-height: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-login-button {
    padding-left: 44px;
}

.user-login-icon {
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    height: 19px;
    margin: auto 0px;
}

.user-cart-button {
    padding-left: 44px;
}

.user-cart-icon {
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
}

.filled-cart-button .user-cart-icon-filler {
    fill: #E84D37;
}



.user-button:hover .user-button-icon-content,
.user-button:focus .user-button-icon-content,
.filled-cart-button .user-button-icon-content,
.user-button-container:hover .user-button .user-button-icon-content,
.user-button-container:focus-within .user-button  .user-button-icon-content {
    fill: var(--black-basic);
}




/* Телефон и рабочие часы */
.header-phone-container {
    justify-self: end;
    text-align: right;
    grid-column: 2 / 3;
    color: var(--white-basic);
    font-weight: 700;
    z-index: 1;
}

.header-phone-working-hours {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}

.header-phone {
    color: inherit;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

/* Попап */
.popup {
    background-color: var(--white-popup);
    box-shadow: var(--modal-shadow);
    z-index: 2;
    box-sizing: border-box;

}

/* Попап поиска */
.search-popup {
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    display: none;
    min-width: 341px;
    padding: 20px 15px;
    border-radius: 4px;
}

.search-popup::before {
    display: block;
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: transparent;
}

.search-popup-input {
    width: 100%;
    padding: 12px;
}

.search-popup-input:hover,
.search-popup-input:focus {
    margin: -1px;
}



/* Попап входа */
.login-popup {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    padding: 20px 17px 22px 19px;
    min-width: 277px;
    border-radius: 4px;
}

.login-popup::before {
    display: block;
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: transparent;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login-popup-input {
    padding: 12px;
    min-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.login-popup-input:hover,
.login-popup-input:focus {
    margin: -1px;
    margin-bottom: 19px;
}

.login-popup-button {
    font-size: 18px;
    line-height: 16px;
    padding: 14px 26px;
    border-radius: 26px;
}

.login-popup-links-container {
    position: absolute;
    bottom: 25px;
    right: 17px;
}

.login-popup .forget-password-link {
    margin-bottom: 9px;
}

.login-popup .dark-link {
    display: block;
    font-size: 13px;
    line-height: 15px;
}



/* Попап корзины */
.cart-popup {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    min-width: 539px;
    padding: 20px 14px 21px 21px;
    border-radius: 4px;
}

.cart-popup::before {
    display: block;
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: transparent;
}



.cart-popup-table {
    border-collapse: collapse;
}

.cart-popup-table, .cart-row-item {
    margin: 0;
    padding: 0;
}

.cart-table-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}


.cart-product-delete-button {
    background-color: transparent;
    color: transparent;
    background-image: url(../img/icons/cart-delete-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    width: 11px;
    height: 11px;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

.cart-product-delete-container {
    margin-right: 9px;
}

.cart-product-image-container {
    margin-right: 13px;
}

.cart-product-image {
    display: block;
    margin: 0;
    padding: 0;
}

.cart-product-title {
    font-size: 13px;
    line-height: 16px; 
    margin-right: auto;
    flex-basis: 220px;
}

.cart-product-calculation {
    font-size: 13px;
    line-height: 16px; 
    color: var(--black-classic);
    margin: 0px auto;
    flex-basis: 110px;
}

.cart-product-calculation span {
    color: var(--gray-cart-item-price);
}

.cart-product-price {
    font-size: 13px;
    line-height: 16px; 
    justify-self: flex-end;
    flex-basis: 90px;
}



.cart-total-price {
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
}

.cart-popup-button {
    padding: 13px 15px;
    margin-left: auto;
    border-radius: 26px;
}

.cart-table-total-row {
    border-top: 1px solid var(--gray-stroke);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 18px;
    margin-bottom: 15px;
}

/* Попап обратной связи */
.feedback-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 477px;
    border-radius: 6px;
    padding: 20px 25px 27px 23px;
}

.feedback-popup-form {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.feedback-popup-header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.feedback-popup-input {
    padding: 12px 14px;
    margin-bottom: 20px;
    margin-right: auto;
    width: 267px;
}

.feedback-popup-input:hover,
.feedback-popup-input:focus {
    margin: -1px;
    margin-bottom: 19px;
}

.feedback-popup-textarea {
    display: block;
    padding: 12px 14px;
    flex-basis: 100%;
    margin-bottom: 25px;
}

.feedback-popup-textarea:hover,
.feedback-popup-textarea:focus {
    margin: -1px;
    margin-bottom: 24px;
}

.feedback-popup-button {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 24px;
    margin-left: auto;
}

.feedback-popup .close-button  {
    position: absolute;
    top: 15px;
    right: 16px;
    height: 17px;
    width: 18px;
    background-image: url(../img/icons/popup-close-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}




/* Предложения */

.offers {
    position: relative;
    margin-bottom: 40px;
}

.offer-list {
    padding: 0;
    margin: 0;
}

/* Индикатор слайдера */
.offers-indicators { 
    position: absolute;
    bottom: 17px;
    left: 27px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    max-width: 300px;
    z-index: 1;
}

.offers-indicators-button {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    height: 21px;
    width: 21px;
    font-size: 0;
    background-color: transparent;
    border: 2px solid var(--white-basic);
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: 3px;
    padding: 0;
    outline: none;
}

.current-offer-indicator {
    cursor: default;
}

.offers-indicators-button:hover,
.offers-indicators-button:focus {
    background-color: var(--white-opacity-40);
}

.offers-indicators-button:active, 
.current-offer-indicator {
    background-color: var(--white-basic);

}

.current-offer-indicator:hover,
.current-offer-indicator:focus  {
    background-color: var(--white-basic);
}


.offer-item {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-top: 314px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.offer-item {
    display: none;
} 

.current-offer {
    display: flex;
    flex-direction: column;
}

.offer-item-header {
    max-width: 670px;
    font-size: 60px;
    line-height: 60px;
    color: var(--white-basic);
    font-weight: 700;
    padding: 0;
    margin: 0px auto 26px auto;
}

.offer-item-button {
    font-size: 32px;
    line-height: 44px;
    padding: 9px 23px;
    margin: 0px auto;
    letter-spacing: 2px;
}

.offer-item-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
}

/* Промо */

.promo {
    margin-bottom: 40px;
}

.promo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    padding: 0;
    margin: 0;
}

.promo-item {
    background-size: cover;
    border-radius: 16px;
    padding: 16px 22px 22px 16px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.promo-item:first-child {   
    background-color: var(--raspberry);
    background-repeat: no-repeat;
    background-image: url(../img/raspberry-background.png);
}

.promo-item:last-child {
    background-color: var(--chocolate);
    background-repeat: no-repeat;
    background-image: url(../img/chocolate-background.png);
}

.promo-item-header {
    color: var(--white-basic);
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin: 0px 0px 16px 0px;
    padding: 0;
    flex-basis: 100%;
}

.promo-item-description {
    flex-basis: 100%;
    color: var(--white-basic);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0px 0px 42px 0px;
    padding: 0;
}

.promo-item-button {
    
    font-size: 18px;
    line-height: 24px;
    padding: 12px 22px;
    margin-left: auto;
}



/* Хлебные крошки */

.catalog-header {
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: var(--white-basic);
}

.catalog-header-and-breadcrumbs {
    display: grid;
    grid-template-columns: 1fr;
}


.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.breadcrumbs-item {
    position: relative;
    margin-bottom: 3px;
    margin-right: 8px;
    padding-right: 14px;
}

.breadcrumbs-item::after {
    content: "";
    background-image: url(../img/icons/breadcrumbs-diveder-icon.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    margin: auto 0px auto 8px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
    padding-right: 0;
}

.breadcrumbs-item:last-child::after {
    display: none;

}

/* Фильтры */

.filters-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--white-basic);
    font-weight: 500;
    margin-bottom: 40px;
}

.filters-fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filters-legend {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
    margin-left: 16px;
}

.filters-label {
    line-height: 18px;
    font-weight: 500;
    position: relative;
    display: block;
}


.filters-sorting-select {
    background-color: var(--white-opacity-20);
    border: none;
    display: block;
    padding: 9px 35px 9px 16px;
    max-width: 198px;
    border-radius: 20px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white-basic);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.filters-sorting-select-wrapper {
    position: relative;
}

.filters-sorting-select-wrapper::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url(../img/icons/select-arrow-icon.svg);
    right: 14px;
    top: 14px;
    pointer-events: none;
}

.filters-sorting-select-wrapper:focus::after {
    transform: rotateX(180deg);
}

.filters-sorting-select-option {
    color: var(--black-basic);
}


.filters-price-range {
    position: relative;
    padding: 17px 30px 17px 21px;
    background-color: var(--white-opacity-20);
    border-radius: 20px;
}

.filters-price-range-scale {
    height: 2px;
    min-width: 181px;
    background: var(--white-popup-opacity);
}

.filters-price-range-bar {
    height: 2px;
    background: var(--white-popup);
}

.filters-price-range-toggle {
    position: absolute;

    top: 0;
    bottom: 0;
    margin: auto 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid var(--white-basic);
    background-color: var(--gray-cart-item-price);
    border-radius: 50%;
    cursor: pointer;
}
  
.filters-fat-percentage-list, 
.filters-fillers-list {
    background-color: var(--white-opacity-20);
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    min-width: 300px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
}



.filters-radio-label {
    padding-left: 33px;
    cursor: pointer;
    outline: none;
}

.filters-radio-label::before {
    display: block;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 4px solid var(--white-basic);
    opacity: 0.8;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.filters-radio-label::after {
    display: none;
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--white-basic);
    opacity: 0.8;
    left: 7px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.filters-radio-label:hover::before,
.filters-radio-label:focus::before,
.filters-radio:checked + .filters-radio-label:hover::after,
.filters-radio:checked + .filters-radio-label:focus::after {
    opacity: 1;
}

.filters-radio:checked + .filters-radio-label::after {
    display: block;
}

.filters-radio:disabled + .filters-radio-label::after,
.filters-radio:disabled + .filters-radio-label::before,
.filters-radio:disabled + .filters-radio-label:hover::after,
.filters-radio:disabled + .filters-radio-label:hover::before,
.filters-radio:disabled + .filters-radio-label:focus::after,
.filters-radio:disabled + .filters-radio-label:focus::before  {
    opacity: 0.4;
}

.filters-fat-percentage-list {
    max-width: 500px;
    padding: 9px 25px 1px 25px;
}

.filters-fat-percentage-item {
    margin: 0 19px 7px 0;
}

.filters-fat-percentage-item:last-child {
    margin-right: 0;
}

.filters-checkbox-label {
    padding-left: 32px;
    cursor: pointer;
    outline: none;
}

.filters-checkbox-label::before {
    display: block;
    position: absolute;
    content: url(../img/icons/checkbox-unchecked-icon.svg);
    height: 22px;
    width: 24px;
    opacity: 0.8;
    left: 0;
    top: -2px;
}

.filters-checkbox-label:hover::before,
.filters-checkbox-label:focus::before {
    opacity: 1;
}

.fillers-checkbox:disabled + .filters-checkbox-label::before {
    opacity: 0.4;
}

.fillers-checkbox:checked + .filters-checkbox-label::before {
    content: url(../img/icons/checkbox-checked-icon.svg);
}



.filters-fillers-list {
    max-width: 820px;
    padding: 10px 16px 2px 16px;
}

.filters-fillers-item {
    flex-shrink: 0;
    margin: 0 20px 6px 0;
}

.filters-fillers-item:last-child {
    margin-right: 0;
}




.filters-sorting-container, 
.filters-price-range-container, 
.filters-fat-percentage {
    margin-bottom: 14px;
}

.filters-sorting-container,
.filters-price-range-container,
.filters-fillers {
    margin-right: 15px;
}


.filters-button {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--white-basic);
    background-color: var(--white-opacity-20);
    border: 2px solid var(--white-basic);
    cursor: pointer;
    padding: 7px 29px;
    border-radius: 20px;
    box-sizing: border-box;
    align-self: flex-end;
    outline: none;
}

.filters-button:hover,
.filters-button:focus {
    color: var(--black-basic);
    background-color: var(--white-basic);
}

.filters-button:active {
    color: var(--black-basic);
    background-color: var(--white-basic);
    box-shadow: var(--menu-link-active-shadow);
    border: none;
    padding: 9px 31px;
}

/* Товары */
.popular-products,
.catalog-products {
    margin-bottom: 40px;
}

.product-list {
    padding: 0;
    margin: 0;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    justify-items: center;
    grid-row-gap: 40px;
}

.inner-product-list {
    margin-bottom: 80px;
}

.product-item {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}


.index-product-item::before {
    display: block;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--white-basic);
    width: 61px;
    height: 61px;
    border-radius: 50%;
    content: url(../img/icons/hit-icon.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.product-item-image {
    display: block;
    z-index: -1;
    margin-bottom: 13px;
}

.product-item-price {
    position: absolute;
    z-index: 1;
    top: 210px;
    padding: 0;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: var(--white-basic);
}

.product-item-price span {
    font-size: 30px;
    line-height: 35px;
}

.product-item-header {
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

.product-item-button {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 16px;
    border-radius: 50px;
    display: none;
}

/* Номер страницы */
.page-numbers-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-numbers {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.page-numbers-prev {
    font-size: 0;
    background-image: url(../img/icons/page-switch-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    transform: rotateY(180deg);
    outline: none;
}

.page-number-item {
    margin-right: 4px;
}

.page-number {
    display: block;
    color: var(--white-basic);
    background-color: transparent;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
    height: 26px;
    min-width: 26px;
    padding: 5px 8px 3px 8px;
    border-radius: 50%;
    text-align: center;
    outline: none;
}

.page-numbers-next {
    font-size: 0;
    margin: 0;
    background-image: url(../img/icons/page-switch-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    outline: none;
}

.page-number:hover,
.page-number:focus {
    background-color: var(--white-opacity-20);
}

.page-numbers-prev[href=""],
.page-numbers-next[href=""],
.page-numbers-prev[href=""]:hover,
.page-numbers-next[href=""]:hover,
.page-numbers-prev[href=""]:focus,
.page-numbers-next[href=""]:focus {
    opacity: 0.2;
    background-color: transparent;
    cursor: default;
} 

.page-number:active,
.page-number[href=""] {
    color: var(--black-basic);
    background-color: var(--white-basic);
}




/* О магазине */
.about-wrapper {
    margin-bottom: 40px;
}

.about {
    background-image: url(../img/waffle-pattern.png);
    background-color: var(--waffel-background);
    background-repeat: repeat;
    padding: 24px 20px;
    border-radius: 16px;
}

.about-description {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0px 0px 7px 0px;
    padding: 0;
    max-width: 995px;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    grid-row-gap: 15px;
    margin: 0;
    padding: 0;
}




.about-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.about-item-description {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    display: flex;
}

.about-item-description::before {
    display: block;
    flex-shrink: 0;
    margin-right: 6px;
    margin-top: -12px;
    width: 49px;
    height: 49px;
}

.about-production::before {
    content: url(../img/icons/about-production-icon.svg);
}


.about-ingredients::before {
    content: url(../img/icons/about-ingredients-icon.svg);
}

.about-quality::before {
    content: url(../img/icons/about-quality-icon.svg);
}

.about-delivery::before {
    content: url(../img/icons/about-delivery-icon.svg);
}


.blog-subscription-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin-bottom: 40px;
}

/* Запись блога */
.blog-post {
    background-image: url(../img/strawberry-background.png);
    background-color: var(--white-basic);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    padding: 23px 20px;
}

.blog-post-header {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    padding: 0;
}

.blog-post .dark-link {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration-color: var(--black-stroke-dark);
    text-decoration-thickness: 2px;
    max-width: 290px;
}

/* Подписка */
.subscribtion-container {
    background-image: url(../img/mail-background.png);
    background-color: var(--white-popup);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    border-radius: 16px;
}

.subscribtion-content {
    background-color: var(--white-popup);
    padding: 29px 16px 35px 20px; 
    border-radius: 16px;
}

.subscribtion-description {
    margin: 0px 0px 47px 0px;
    padding: 0px;
}

.subscribtion-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subscribtion-input {
    margin: 0px 10px 0px 0px;
    padding: 12px;
    flex-grow: 1;
    border-radius: 6px;
}

.subscribtion-input:hover,
.subscribtion-input:focus {
    margin: -1px;
    margin-right: 9px;
}

.subscribtion-button {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 19px;
}

/* Местоположение */
.location {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    margin-bottom: 20px;
}

.location-map-frame {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: -1;
    border: none;
    background-color: var(--gray-placeholder);
}

.location-info {
    background-color: var(--white-info);
    max-width: 306px;
    grid-column: -2 / -3;
    grid-row: 1 / 2;
    z-index: 1;
    align-self: center;
    justify-self: end;
    border-radius: 16px;
    text-align: left;
    padding: 32px 25px;
    margin-right: 27px;
}

.location-info-label {
    font-size: 14px;
    line-height: 20px;
    max-width: 175px;
}

.location-info-adress-label {
    margin: 0px 0px 8px 0px;
    
}

.location-info-phone-label {
    margin: 0px 0px 11px 0px;
}

.location-info-hours-label {
    margin: 0px 0px 31px 0px;
}

.location-info-adress,
.location-info-phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black-basic);
    text-decoration: none;
    max-width: 180px;
}

.location-info-adress {
    margin: 0px 0px 30px 0px;
}

.location-info-phone {
    display: block;
    margin: 0px 0px 8px 0px;
}


.location-info-button {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 28px;
}


/* Подвал */
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 26px;
}

.social-links-container {
    justify-self: start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}  

.footer-social-link {
    display: block;
    box-sizing: border-box;
    margin-right: 8px;
    margin-bottom: 3px;
    font-size: 0;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    outline: none;
}

.footer-social-link:last-child {
    margin-right: 0;
}

.footer-social-link:hover .footer-social-icon-content,
.footer-social-link:focus .footer-social-icon-content,
.footer-social-link:active .footer-social-icon-content {
    fill-opacity: 1;
}

.footer-social-link:active .footer-social-icon-stroke {
    stroke-opacity: 0.7;
}


.useful-links-container {
    justify-self: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.useful-link {
    display: block;
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
    flex-basis: 50%;
    padding: 0px;
    margin-bottom: 5px;
}

.useful-link:nth-of-type(odd) {
    padding-left: 50px;
}

.useful-link:nth-of-type(even) {
    padding-right: 25px;
}

.useful-link:first-of-type::before {
    position: absolute;
    top: 2px;
    left: 28px;
    content: url(../img/icons/heart-icon.svg);
    height: 13px;
    width: 15px;
}



.footer-credentials {
    justify-self: end;
    color: var(--white-basic);
}

.footer-credentials-description {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.footer-credentials-logo {
    display: block;
    margin-bottom: 16px;
}







