@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/roboto.woff2), url(../fonts/roboto.woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/robotomedium.woff2), url(../fonts/robotomedium.woff);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/robotobold.woff2), url(../fonts/robotobold.woff);
}


/* Переменные */
:root {
    --main-background-1: #9D8B84;
    --main-background-2: #8996A6; 
    --main-background-3: #849D8F;
    --black-basic: #323232; 
    --black-stroke: rgba(50, 50, 50, 0.3);
    --black-stroke-dark: #353535;
    --black-classic: black;
    --white-basic: #FFFFFF;
    --white-active: #EDEDED;
    --white-popup: #F8F7F4;
    --white-info: #FEFEFE;
    --white-opacity: rgba(255,255,255,0.2);
    --white-stroke: rgba(255,255,255,0.3);
    --orange-basic: #D07058;
    --orange-button: #E74A35;
    --orange-button-hover: rgb(243,128,102);
    --orange-button-active: rgb(220,81,56);
    --orange-link-dark: rgba(232, 77, 55, 1);
    --orange-link-dark-opacity: rgba(232, 77, 55, 0.3);
    --orange-link-light: rgba(255, 188, 158, 1);
    --orange-link-light-opacity: rgba(255, 188, 158, 0.3);
    --orange-hover: #FBDED7;
    --orange-active: #F6B5A5;
    --gray-stroke: #B2B2B2;
    --gray-basic: #5A5A5A;
    --gray-placeholder: #999999;
    --gray-cart-item-price: #ABABAB;
    --blue-focus: rgba(46,136,228,0.52);
    --raspberry: rgb(162, 24, 61);
    --chocolate: rgb(79, 43, 22);
}

/* Основные */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    min-width: 1200px;
    background-color: var(--main-background-1);
    color: var(--black-basic);
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.container {
    margin: 0px auto;
    padding: 0px 27px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.page-body img {
    max-width: 100%;
    height: auto;
}

.page-body ul {
    list-style: none;
}

/* Тёмные ссылки */
.page-body .dark-link {
    color: var(--black-basic);
    text-decoration: underline;
    text-decoration-color: var(--black-stroke);
}

.page-body .dark-link:hover, 
.page-body .dark-link:focus,
.page-body .dark-link:active {
    color: var(--orange-link-dark);
    text-decoration-color: var(--orange-link-dark-opacity);
}


/* Светлые ссылки */
.page-body .light-link {
    color: var(--white-basic);
    text-decoration: underline;
    text-decoration-color: var(--white-stroke);
}

.page-body .light-link:hover, 
.page-body .light-link:focus,
.page-body .light-link:active {
    color: var(--orange-link-light);
    text-decoration-color: var(--orange-link-light-opacity);
}

.page-body .light-link[href=""],
.page-body .light-link[href=""]:hover, 
.page-body .light-link[href=""]:focus,
.page-body .light-link[href=""]:active {
    text-decoration: none;
    color: var(--white-basic);
    cursor: default;
}


/* Кнопки */
.page-body .button {
    display: block;
    background-color: var(--orange-button);
    border: none;
    color: var(--white-basic);
    text-decoration: none;
    font-weight: bold;
}

.page-body .button:hover,
.page-body .button:focus {
    background-color: var(--orange-button-hover);
}

.page-body .button:active {
    background-color: var(--orange-button-active);
}

/* Поля формы */
.general-form input {
    display: block;
    min-height: 44px;
    border: 1px solid var(--gray-stroke);
    color: var(--black-basic);
    background-color: var(--white-basic);
    font-weight: bold;
}

.general-form textarea {
    font-weight: bold;
}

.general-form input::placeholder,
.general-form textarea::placeholder {
    color: var(--gray-placeholder);
    font-weight: normal;
}

.general-form input:hover {
    border-width: 2px;
    margin: -1px;
    margin-right: 9px;
}

.general-form input:focus {
    border: 2px solid var(--blue-focus);
    margin: -1px;
    margin-right: 9px;
}

/* Попап */
.popup {
    background-color: var(--white-popup);
}

/* Скрыто */

.main-page-header,
.filters-header,
.products-header,
.offers-header,
.promo-header,
.popular-products-header,
.about-header,
.subscribtion-header,
.subscribtion-form label,
.location-header,
.cart-header, 
.footer-header {
    position: absolute;
    width: 1px;        
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-popup, 
.login-popup, 
.feedback-popup {
    display: none;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 280px;
    margin-bottom: -40px;
    padding-top: 9px;
}

.main-header-logo {
    display: block;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 11px;
    align-self: center;
}

.main-header-logo-image {
    display: block;
}

.main-navigation {
    display: flex;
    
    /* align-items: center; */
}


/* Меню */
.main-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    align-items: flex-start;
}

.main-menu-item {
    margin-right: 9px;
}


.menu-item-with-submenu {
    position: relative;
}


.menu-item-with-submenu:hover .submenu {
    display: block;
}

.user-button-container {
    display: block;
    float: left; /*Временно*/
    position: relative;
}



.main-menu-link {
    display: block;
    line-height: 18px;
    font-weight: bold;
    color: var(--white-basic);
    text-decoration: underline ;
    text-decoration-color: var(--white-opacity);
    padding: 9px 13px 11px 13px;
    border-radius: 26px;
}



.main-menu-link:hover , 
.main-menu-link:focus {
    background-color: var(--white-basic);
    color: var(--black-basic);
    text-decoration: none;
}

.main-menu-link:active {
    background-color: var(--white-active);
    color: var(--black-basic);
    text-decoration: none;
}

.main-menu-link[href=""] {
    background-color: var(--orange-basic);
    color: var(--white-basic);
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: -8px;
    z-index: 1;
    border-radius: 4px;  
    background-color: var(--white-basic);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.submenu::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: transparent;

}




.submenu-link {
    display: block;
    min-width: 120px;
    padding: 13px 21px;
    color: var(--black-basic);
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}

.submenu-item:first-child .submenu-link {
    border-radius: 4px 4px 0px 0px;
}

.submenu-item:last-child .submenu-link {
    border-radius: 0px 0px 4px 4px;
}



.submenu-link:hover,
.submenu-link:focus {
    background-color: var(--orange-hover);
}

.submenu-link:active {
    background-color: var(--orange-active);
}

.submenu-link[href=""] {
    background-color: var(--orange-basic);
    color: var(--white-basic);
}

.submenu-item:first-child {
    border-bottom: 1px solid var(--black-stroke);
}

.submenu-bolded-item .submenu-link {
    line-height: 18px;
    font-weight: bold;
}

/* Кнопки пользователя */
.header-buttons-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    max-width: 270px;
    justify-self: end;
    padding-top: 11px;
}

.user-button-container {
    margin-left: 10px;
}

.header-search-container {
    order: 2;
}

.header-login-container {
    order: 1;
}

.user-button {
    display: block;
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: var(--white-opacity);
    color: var(--white-basic);
    padding: 8px 16px;
    border-radius: 20px;
}

.user-button:hover,
.user-button:focus {
    cursor: pointer;
    color: var(--black-basic);
    background-color: var(--white-basic);
}




/* Телефон и рабочие часы */
.header-working-hours {
    justify-self: end;
    text-align: right;
    grid-column: 2 / 3;
    color: var(--white-basic);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.header-phone {
    color: inherit;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

/* Попап входа */
.login-popup-button {
    font-size: 18px;
    line-height: 16px;
}

.login-popup .dark-link {
    font-size: 13px;
    line-height: 15px;
}

/* Попап корзины */
.cart-popup-button {
    padding: 13px 15px;
    float: right; /*Временно*/
    border-radius: 26px;
}


.cart-popup {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    min-width: 539px;
    padding: 21px 14px;
    border-radius: 4px;
}

.cart-popup::before {
    display: block;
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: transparent;
}

.header-cart-container:hover .cart-popup {
    display: block;
}

.cart-delete-button {
    background-color: transparent;
    color: transparent;
    background-image: url(../img/icons/cart-delete-icon.svg);
    background-repeat: no-repeat;
    border: none;
    width: 11px;
}

.cart-product-title,
.cart-product-price {
    font-size: 13px;
    line-height: 16px; 
}

.cart-product-calculation {
    font-size: 13px;
    line-height: 16px; 
    color: var(--black-classic);
}

.cart-product-calculation span {
    color: var(--gray-cart-item-price);
}

.cart-total-price {
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
}



/* Предложения */

/* Временно скрыл лишние */
 .offer-item:not(:first-child) {
    display: none;
} 

.offer-list {
    padding: 0;
    margin: 0;
}

/* Индикатор слайдера */
.offers-indicators { 
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 60px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offers-indicators-button {
    cursor: pointer;
    margin-right: 8px;
}

.offer-item {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-top: 314px;
    padding-bottom: 20px;
}



.offer-item-header {
    display: block;
    max-width: 670px;
    font-size: 60px;
    line-height: 60px;
    color: var(--white-basic);
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 26px;
    z-index: 1;


}

.offer-item-button {
    max-width: 200px;
    font-size: 32px;
    line-height: 44px;
    padding: 9px 23px;
    border-radius: 30px;
    z-index: 1;
    margin: 0px auto;
}

.offer-item-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
}

/* Промо */

.promo {
    margin-bottom: 40px;
}

.promo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    padding: 0;
    margin: 0;
}

.promo-item {
    background-size: cover;
    border-radius: 26px;
    padding: 16px 22px 22px 16px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.promo-item:first-child {   
    background-color: var(--raspberry);
    background-repeat: no-repeat;
    background-image: url(../img/raspberry-background.png);
}

.promo-item:last-child {
    background-color: var(--chocolate);
    background-repeat: no-repeat;
    background-image: url(../img/chocolate-background.png);
}

.promo-item-header {
    color: var(--white-basic);
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin: 0px 0px 16px 0px;
    padding: 0;
    flex-basis: 100%;
}

.promo-item-description {
    flex-basis: 100%;
    color: var(--white-basic);
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 0px 0px 42px 0px;
    padding: 0;
}

.promo-item-button {
    
    font-size: 18px;
    line-height: 24px;
    padding: 15px 22px;
    text-align: center;
    margin: 0;
    border-radius: 70px;
    margin-left: auto;
}



/* Хлебные крошки */

.catalog-header {
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: var(--white-basic);
}

.catalog-header-and-breadcrumbs {
    display: grid;
    grid-template-columns: 1fr;
}


.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    grid-row: 1 / 2;
}

.breadcrumbs-item {
    float: left; /*Временно*/
}

/* Фильтры */

.filters {
    color: var(--white-basic);
    font-weight: 500;
    margin-bottom: 40px;
}



.filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filters-fat-percentage-list, 
.filters-fillers-list {
    background-color: var(--white-opacity);
}

.filters-legend {
    font-size: 14px;
    line-height: 16px;
}

.filters-label {
    line-height: 18px;
}

.filters-button {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--white-basic);
    background-color: var(--white-opacity);
    border: 2px solid var(--white-basic);
    cursor: pointer;
    padding: 9px 29px 9px 29px;
    border-radius: 20px;
}

.filters-button:hover,
.filters-button:focus {
    color: var(--black-basic);
    background-color: var(--white-basic);
}

.filters-button:active {
    color: var(--black-basic);
    background-color: var(--white-basic);
}

/* Товары */
.popular-products {
    margin-bottom: 40px;
}

.catalog-products {
    margin-bottom: 40px;
}

.product-list {
    padding: 0;
    margin: 0;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    justify-items: center;
    grid-row-gap: 40px;
}

.inner-product-list {
    margin-bottom: 80px;
}

.product-item {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}


.index-product-item::before {
    display: block;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--white-basic);
    width: 61px;
    height: 61px;
    border-radius: 50%;
    content: url(../img/icons/hit-icon.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.product-item-image {
    z-index: -1;
    margin-bottom: 13px;
}

.product-item-price {
    position: absolute;
    z-index: 1;
    top: 210px;
    padding: 0;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: var(--white-basic);
}

.product-item-price span {
    font-size: 30px;
    line-height: 35px;
}

.product-item-header {
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}



.product-item-button {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 16px;
    /* margin-bottom: 21px; */
    border-radius: 50px;
    display: none;
}

/* Номер страницы */



.page-numbers {
    margin: 0;
    padding: 0;
}

.page-number-item {
    display: block;
    cursor: pointer;
}

.page-number {
    color: var(--white-basic);
    background-color: transparent;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
}

.page-number:hover,
.page-number:focus {
    background-color: var(--white-opacity);
}

.page-number:active,
.page-number[href=""] {
    color: var(--black-basic);
    background-color: var(--white-basic);
}




/* О магазине */
.about-wrapper {
    margin-bottom: 40px;
}

.about {
    background-image: url(../img/waffle-pattern.png);
    background-repeat: repeat;
    padding: 24px 20px;
    border-radius: 16px;
}

.about-description {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0px 0px 14px 0px;
    padding: 0;
    max-width: 995px;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    grid-row-gap: 33px;
    margin: 0;
    padding: 0;
}


.about-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.about-item-description {
    margin: 0;
    padding: 0;
}


.blog-subscription-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 26px;
    margin-bottom: 40px;
}

/* Запись блога */
.blog-post {
    background-image: url(../img/strawberry-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 23px 20px;
}

.blog-post-header {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    padding: 0;
}

.blog-post .dark-link {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration-color: var(--black-stroke-dark);
    text-decoration-thickness: 2px;
    max-width: 290px;
}

/* Подписка */
.subscribtion-container {
    background-image: url(../img/mail-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    border-radius: 16px;
}

.subscribtion-content {
    background-color: var(--white-popup);
    padding: 29px 16px 35px 20px; 
    border-radius: 16px;
}

.subscribtion-description {
    margin: 0px 0px 47px 0px;
    padding: 0px;
}

.subscribtion-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subscribtion-email-field {
    margin: 0px 10px 0px 0px;
    padding: 0;
    padding-left: 10px;
    flex-grow: 1;
}




.subscribtion-button {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 19px;
    border-radius: 70px;
}

/* Местоположение */
.location {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    margin-bottom: 40px;
}

.location-map-frame {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: -1;
    background-color: var(--gray-placeholder);
}

.location-info {
    background-color: var(--white-info);
    max-width: 306px;
    grid-column: -2 / -3;
    grid-row: 1 / 2;
    z-index: 1;
    align-self: center;
    justify-self: end;
    border-radius: 16px;
    text-align: left;
    padding: 32px 25px;
    margin-right: 27px;
}

.location-info-label {
    font-size: 14px;
    line-height: 20px;
    max-width: 175px;
}

.location-info-adress-label {
    margin: 0px 0px 8px 0px;
    
}

.location-info-phone-label {
    margin: 0px 0px 11px 0px;
}

.location-info-hours-label {
    margin: 0px 0px 31px 0px;
}

.location-info-adress,
.location-info-phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--black-basic);
    text-decoration: none;
    max-width: 180px;
}

.location-info-adress {
    margin: 0px 0px 30px 0px;
}

.location-info-phone {
    margin: 0px 0px 8px 0px;
}


.location-info-button {
    font-size: 18px;
    line-height: 24px;
    padding: 13px 28px;
    border-radius: 70px;
    margin: 0;
}

/* Обратная связь */
.feedback-popup-header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.feedback-popup-button {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 24px;
    border-radius: 70px;
}

.feedback-popup .close-button  {
    height: 17px;
    width: 18px;
    background-image: url(../img/icons/popup-close-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
    border: none;
}

/* Подвал */
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 26px;
}

.socials-container {
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
}  

.footer-social-link {
    margin-right: 14px;
}

.useful-links-container {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.useful-link {
    font-size: 13px;
    line-height: 18px;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 1;
}

.footer-credentials {
    justify-self: end;
    color: var(--white-basic);
}

.footer-credentials-description {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.footer-credentials-logo {
    display: block;
    margin-bottom: 16px;
}







